<!-- this page shows a list of popups -->
<div class="container" style="margin-top:20px;" ng-if="R.setup_initialized" ng-hide="R.readyToSave">


    <!-- <div class="col-md-11 yel-premium-features-on-list yel-no-left" id="yel-popup-feedback-inpage" ng-show="yelShowFeedback()">
        <div class="yel-popup-feedback-inpage">
            <div class="yel-popup-feedback-inpage-close" ng-click="hide_inpage_popup_feedback(feedback)">X</div>
            <div>
                <b><span class="glyphicon glyphicon-question-sign"></span> Does your new widget appear as
                    expected?&nbsp;&nbsp;&nbsp;&nbsp;</b>
                <hr />
                <formly-form fields="configFields.feedback" model="feedback"></formly-form>
                <div ng-show="feedbackComplete(feedback)">
                    <button type="button" class="btn btn-primary" style="margin-top:5px" ng-click="sendFeedback(feedback)">Submit</button>
                </div>
                <b>Note: If you are using a plugin for page cache, please clear the cache and try again.</b>
            </div>
            <div class="popup-feedback-questions"></div>
        </div>
    </div> -->
    <div class="col-md-11 yel-premium-features-on-list yel-no-left" id="yel-popup-feedback-inpage" ng-show="yelShowFeedback()">
        <div class="yel-popup-feedback-inpage">
            <small class="yel-popup-feedback-inpage-close" ng-click="hide_inpage_popup_feedback(feedback)">hide this</small>
            <div>
                <b><span class="glyphicon glyphicon-thumbs-up"></span> Congratulations on setting up your first
                    Widget</b><br>

                <span>If your Popup doesn't work as expected, <a href="https://yeloni.com/support" target="_blank"><b>please
                            let us
                            know here.</b></a></span>
            </div>
            <div class="popup-feedback-questions"></div>
        </div>
    </div>

    <!-- DONT DELETE
    <div class="col-md-10 col-md-offset-1 yel-premium-features-on-list">
        <div ng-click="yelShowAffiliate()" class="yel-show-premium-list" style="font-weight:normal; color:#585858;">
            Agency or Freelancer? Join our Affiliate Programme<br>
        </div>
    </div>
    -->
    <div class="col-md-12">
        <div class="yel-inline col-md-5">
            <div class="panel panel-default" ng-repeat="widget in list.widgets track by $index">
                <div class="panel-heading">
                    <span ng-if="!widget.configuration.what.title">
                        Widget {{$index + 1}}
                    </span>
                    <span ng-if="widget.configuration.what.title">
                        {{widget.configuration.what.title}}
                    </span>
                </div>
                <div class="panel-body">
                    <div>

                        <div class="yel-inline yel-image-block">
                            <img ng-src="{{R.staticPath}}/themes/{{widget.theme}}/{{widget.theme}}-screenshot.jpg">
                        </div>
                        <div class="yel-inline yel-right-box">
                            <div class="yel-actions text-muted" style="cursor:default;">
                                <div class="yel-card-enable">
                                    <div>
                                        <input type="checkbox" ng-model="widget.configuration.what.enable" ng-change="changeEnable(widget.configuration.what.enable, widget.configuration.what.name)">
                                    </div>
                                    <div>&nbsp;Active</div>
                                </div>
                            </div>
                            <div class="yel-actions" style="cursor:pointer" ng-click="emailListModal($index)" ng-show="isEmailTheme($index)">
                                <span class="glyphicon glyphicon-envelope text-muted"></span><span class="text-muted">
                                    View Email List</span>
                            </div>
                            <div class="yel-actions text-muted">
                                <a ng-href="#/edit/build/design?index={{$index}}">
                                    <span class="glyphicon glyphicon-pencil text-muted"></span><span class="text-muted">
                                        Redesign</span>
                                </a>
                            </div>
                            <div class="yel-actions" ng-click="configure($index)" style="cursor:pointer">
                                <span class="glyphicon glyphicon-cog text-muted"></span><span class="text-muted">
                                    Configure</span>
                            </div>
                            <div class="yel-actions" style="border-bottom:none;cursor:pointer" ng-click="removeWidget($index)"><span
                                    class="glyphicon glyphicon-remove text-muted"></span><span class="text-muted">
                                    Delete</span></div>
                        </div>
                        <div style="clear:both"></div>

                    </div>
                    <div style="clear:both"></div>
                </div>

            </div>

            <div>
                <button class="btn btn-default btn-block yel-add-new-widget-btn" ng-click="addNewWidget()"><span class="glyphicon glyphicon-plus"></span>
                    Add a Widget</button>
                <div style="clear:both"></div>
            </div>

            <!-- <div class="checkbox" class="add-yel-badge" ng-click="WU.changePoweredBy()" ng-show="!R.SETUP.poweredBy||R.SETUP.customPoweredBy">
                <label><input class="form-control" ng-model="R.SETUP.poweredBy" type="checkbox">
                    Add Yeloni Badge
                </label>
            </div> -->

        </div>

        <div class="col-md-6">
            <div class="yel-card-btm" ng-show="!S.hasAllFeatures">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <b>Todo Next <i class="fa fa-arrow-right"></i></b> Boost your Conversions with these Premium
                        Addons
                        <!-- <i class="fa fa-shopping-bag pull-right"></i> -->
                    </div>
                    <div class="panel-body" style="padding:0px">
                        <table class="table">
                            <tbody>
                                <tr ng-repeat="feature in R.features | orderBy:'priority'" ng-init="status = FS[feature.label](widget, feature);mode='pitch'"
                                    ng-show="!S.hasFeature(feature.label) && status" ng-class="{'bg-info':(feature.label == 'premiumSubscription')}"
                                    style="cursor:pointer">

                                    <!-- ng-class="{'yel-thick-border':(feature.label=='premiumSubscription')}" -->

                                    <td width="350" ng-click="mode='pay';C.createNewEvent('d_seen_premium_'+feature.label);C.createNewEvent('d_seen_premium')">
                                        <div ng-class="{'lead':(mode == 'pay')}">
                                            <!-- <i ng-class="status.icon"></i> -->
                                            <small><i ng-hide="mode=='pay'" class="fa fa-square-o text-muted" style="font-size:1.5em"></i></small>
                                            &nbsp;{{status.upgrade}}
                                        </div>

                                        <div ng-show="mode == 'pay'">{{status.description}}</div>
                                    </td>

                                    <td ng-hide="mode =='pitch'">
                                        <!-- <a class="btn btn-xs btn-block yel-list-details-btn" ng-hide="mode == 'pay'" ng-click="mode='pay';C.createNewEvent('d_seen_premium_'+feature.label);C.createNewEvent('d_seen_premium')">
                                            details
                                        </a> -->
                                        <i class="fa fa-chevron-down pull-right text-muted" ng-hide="mode =='pay'"></i>
                                        <div class="yel-list-payments" ng-show="mode == 'pay'">
                                            <div class="pull-right" ng-click="mode='pitch'" style="cursor:pointer">X</div>
                                            <pitch-pay feature=feature></pitch-pay>
                                            <div style="clear:both"></div>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <!-- <div style="text-align:left; color: gray">
                            <br>(5 day free trial. Zero risk)
                        </div> -->
                    </div>

                </div>


                <div style="clear:both"></div>
            </div>

            <div class="" style="margin-top:10px" ng-hide="S.isPremium()">
                <div class="panel panel-default">
                    <div class="panel panel-heading">
                        <div>What our premium customers say?</div>
                    </div>
                    <div class="panel panel-body">
                        <div class="list-group">
                            <div class="list-group-item">
                                <div class="row">
                                    <div class="col-md-2 text-center">
                                        <img class="img-circle" width="60px" height="auto" src="https://res.cloudinary.com/yeloni-com/image/upload/v1546413104/joe-howard-yeloni.png" />
                                    </div>
                                    <div class="col-md-10">
                                        <p>

                                            We increased our email conversion rate by 184% with Yeloni. If you need
                                            help collecting email addresses or driving hesitant visitors to a
                                            specific
                                            page of your website, look no further.
                                        </p>
                                        <strong>Joe Howard - Founder & CEO, WPBuffs</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="row">
                                    <div class="col-md-2 text-center">
                                        <img class="img-circle" width="60px" height="auto" src="https://res.cloudinary.com/yeloni-com/image/upload/v1546413099/gregory-santore.png" />
                                    </div>
                                    <div class="col-md-10">
                                        <p>
                                            Thanks to the intuitive setup and management of the pops and the Yeloni
                                            team’s incredibly fast and personal support, we’ve been able to grow
                                            our
                                            subscriber lists across multiple verticals. Simply the best out there.
                                            Bar
                                            none.
                                        </p>
                                        <strong>
                                            Gregory Santore - Founder & CEO, Ghost Rhino Marketing Inc
                                        </strong>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>


    <div style="clear:both"></div>

    <!-- <div class="col-md-8 col-md-offset-2" style="margin-top:10px" ng-hide="S.isPremium()">
        <div class="panel panel-default">
            <div class="panel panel-heading">
                <i>What our premium customers say?</i>
            </div>
            <div class="panel panel-body">
                <div class="list-group">
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-md-2 text-center">
                                <img width="60px" height="auto" src="http://yeloni.com/wordpress/wp-content/uploads/2017/01/joe-howard-yeloni.png" />
                            </div>
                            <div class="col-md-10">
                                <p>

                                    We increased our email conversion rate by 184% with Yeloni. If you need help collecting email addresses or driving hesitant visitors to a specific page of your website, look no further.
                                </p>
                                <strong>Joe Howard - Founder & CEO, WPBuffs</strong>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-md-2 text-center">
                                <img width="60px" height="auto" src="http://yeloni.com/wordpress/wp-content/uploads/2017/01/gregory-santore.png" />
                            </div>
                            <div class="col-md-10">
                                <p>
                                    Thanks to the intuitive setup and management of the pops and the Yeloni team’s incredibly fast and personal support, we’ve been able to grow our subscriber lists across multiple verticals. Simply the best out there. Bar none.
                                </p>
                                <strong>
                                  Gregory Santore - Founder & CEO, Ghost Rhino Marketing Inc
                                </strong>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="checkbox" style="float: right; margin-right: 6%; position: absolute; right: 0px; margin-top: 17%; color: grey; font-size: 11px;" ng-click="WU.changePoweredBy()" ng-show="!R.SETUP.poweredBy||R.SETUP.customPoweredBy"> <label><input  class="form-control" ng-model="R.SETUP.poweredBy" type="checkbox">Add yeloni badge</label>
        </div>
    </div> -->

</div>

<div style="clear:both"></div>

<!--
<json-formatter json="S.setup().widgets"></json-formatter>